.Rproj.user
.Rhistory
.RData
.Ruserdata
_bookdown_files/
docs/
packages.bib
fcache/
load_server_docker.R
library/
rstudio_prefs
building-shiny-apps-workflow*
!building-shiny-apps-workflow.Rproj
_book/*
!engineering-production-grade-shiny-apps.Rproj
golex/
todoedit
_site/
