.Rproj.user
.Rhistory
.RData
.Ruserdata
cache/
_bookdown_files/
docs/
packages.bib
fcache/
load_server_docker.R
library/
rstudio_prefs
building-shiny-apps-workflow.Rmd
building-shiny-apps-workflow_*
building-shiny-apps-workflow.*.md
golex/
